:root {
    --color-bck-gr: #d0e1ff71;
    --color-bck-gr-2: #001f55;
    --color-bck-gr-3: #97b6eb42;
    --color-bck-gr-4: #d6e4ff;

    --color-text-w: #d0e1ff;
    --color-text-b: #001333;
    --color-text-g: #343b47;
}