:root {
    --color1: #3FBE62;

    --back-color: #f2fff6;

    --txt-col-1: #1d5a2e;
    --txt-col-2: #82c294;
    --txt-col-3: #101812;
    --txt-col-4: #f1fff4;

    --menu-select: #3fbe6331;

    --resume-proyectos: #3f7abe31;
    --resume-priori: #be3f3f31;
    --resume-horas: #3fbe6331;
    --resume-tecnos: #8f3fbe31;
}